body {
    padding: 0;
    margin: 0;
    border: 0;
}

.entry-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.title-dividing-line {
    width: 100%;
    height: 15px;
    background-color: #e3007c;
}

.context-dividing-line {
    height: 100%;
    margin: 0 75px;
    width: 15px;
    background-color: #e3007c;
}

.entry-title {
    width: 100%;
    height: 180px;
    font-size: 72px;
    font-weight: bold;
    line-height: 150px;
    background-color: #ffffff;

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.little-title {
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    font-weight: bold;
}

.dividing {
    width: 200px;
    display: flex;
    margin: 0 auto 10px auto;
    justify-content: space-between;

    position: relative;
    left: 0;
    right: 0;
}

.di-line {
    height: 5px;
    margin: 2px;
    width: 77px;
    background-color: #e3007c;
}

.di-circle {
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background-color: #e3007c;
}

.entry-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.entry-up {
    width: 666px;
    height: 300px;
    margin-bottom: 100px;
}

.entry-down {
    width: 666px;
    height: 222px;
    margin-bottom: 60px;
}

.description {
    font-size: 20px;
}

.body-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***********/
/* 图片板块 */
/***********/
.map {
    width: 900px;
    height: 900px;
}

.map .map-svg {
    box-sizing: border-box;
    padding: 10px;
}

.void {
    width: 50px;
}

.info {
    width: 900px;
    height: 900px;
}

.info .up {
    height: 100px;

    line-height: 100px;
}

.info .mid {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info .analysis-mid {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info .mid .mid-top {
    width: 900px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info .mid .mid-button {
    width: 900px;
    height: 180px;
}

.info .mid .mid-button .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    margin-right: 200px;
}

/**************/
/* 数据操控板块 */
/**************/
.info .mid .left {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info .mid .left .index-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.info .mid .left .data {
    width: 450px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#year-mask {
    position: absolute;
    display: none;
    opacity: 0;
    background-color: white;
    left: 1150px;
    top: 160px;
    width: 100px;
    height: 175px;
    overflow: scroll;
}

#country-mask {
    position: absolute;
    display: none;
    opacity: 0;
    background-color: white;
    left: 1150px;
    top: 160px;
    width: 250px;
    height: 175px;
    overflow: scroll;
}

#factor-mask {
    position: absolute;
    display: none;
    opacity: 0;
    background-color: white;
    left: 1400px;
    top: 183px;
    width: 200px;
    height: 175px;
}

.year-option {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.country-option {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.factor-option {
    width: 100%;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

/* index.html */
.info .mid .left .date-select .form1w {
    width: 100%;
    height: 100%;
    line-height: 100px;
}

/* more.html */
.info .mid .left .more-date-select {
    height: 400px;
}

/* index.html */
.info .mid .summary {
    width: 100%;
}

.info .mid .summary .summary-word-title {
    height: 40px;
    text-align: center;
    line-height: 40px;
}

/* index.html */
.info .mid .summary #summary-word {
    height: 140px;
    text-align: center;
    line-height: 28px;
}

.info .mid .summary #summary-word :hover {
    color: #FF0000;
    font-weight: bold;
}

/* more.html */
.info .mid .summary #summary-gdp-growth {
    height: 140px;
    text-align: center;
    line-height: 28px;
}

.info .mid .summary #summary-gdp-growth :hover {
    color: #FF0000;
    font-weight: bold;
}

.info .mid .summary .summary-box {
    height: 290px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.info .mid .summary .summary-box .small-title {
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 25px;
}

.info .mid .mid-down #select-gdp-data {
    height: 80px;
}